
table,
th,
td {
    border: 1px solid #ddd; /* lighter color */
    padding: 3px;
    overflow: auto;
    margin-left: 150px;
}

form {
    display: flex;
    flex-direction: column;
    padding: 40px;
    border: solid 1px ;
    margin: 50px;
}

form label, form input, form button {
    margin-bottom: 10px;
}

.companyBoard-boardAdmin h1 {
    text-align: center;
}

.companyBoard-driverAddition{
    text-align: center;
}

.driverTable {
    background-color: red;
    border: 1px solid ;
    margin: 0px;
}

.driverTable td {
    background-color: green;
    display: block;
    margin-left: 0px;
    
}


.equipmentOption-trailerType{
    max-width: 10px;
    margin-left: 10px;
}

.other-trailerType{
    max-width: 30px;
}

.newDriverForm-equipmentForm{
    display: inline-flex
}

.equipment-tarps8ft,
.equipment-tarps6ft,
.equipment-tarps4ft,
.equipment-chains,
.equipment-binders,
.equipment-pipeStakes,
.equipment-dunnage {
    max-width: 30px;
    margin-left: 20px;
    
}

.equipment-sec,
.equipment-tarps {
    margin-left: 50px;
}